services:
  api:
    build: .
    ports:
      - "${APP_PORT_HOST:-8080}:8000"   # снаружи 8080, внутри 8000
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    command: >
      sh -c "
      until pg_isready -h ${POSTGRES_HOST:-db} -p ${POSTGRES_PORT:-5432} -U ${POSTGRES_USER:-postgres}; do
        echo '⏳ waiting for postgres...'; sleep 1;
      done &&
      alembic upgrade head &&
      uvicorn app.main:app --host 0.0.0.0 --port ${APP_PORT:-8000}
      "
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}
      POSTGRES_DB: ${POSTGRES_DB:-kpi_board}
    # Можешь убрать ports совсем, если не заходишь в psql с хоста
    ports:
      - "${POSTGRES_PORT_HOST:-5432}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-kpi_board}"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7
    ports:
      - "${REDIS_PORT_HOST:-6379}:6379"
volumes:
  pgdata:
